<div class="page-header">
    <h1>Profil adatok:</h1>
</div>

<div>
    <div>
        <label for="name" class="col-lg-2 control-label">Név</label>
        <div class="col-lg-10">
            <p>{{user.name}}</p>
        </div>
    </div>
    <div>
        <label for="email" class="col-lg-2 control-label">Email cím</label>
        <div class="col-lg-10">
            <p>{{user.email}}</p>
        </div>
    </div>
    <div>
        <label for="password" class="col-lg-2 control-label">Jelszó</label>
        <div class="col-lg-10">
            <p>***</p>
        </div>
        <div class="col-lg-10">
            <p><a href="/profile/change/password" class="btn btn-default">módosítás</a></p>
        </div>
    </div>
</div>
