{{#each errorMessages}}
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{this}}
    </div>
{{/each}}

<div class="page-header">
    <h1>Jelszó módosítás</h1>
</div>

<form class="form-horizontal" method="post">
    <fieldset>
        <div class="form-group
            {{#if validationErrors.new_pwd}}
                has-error
            {{/if}}
        ">
            <label for="new_pwd" class="col-lg-2 control-label">Új jelszó</label>
            <div class="col-lg-10">
                <input class="form-control" id="new_pwd" name="new_pwd" type="text">
                {{#if validationErrors.new_pwd}}
                    <span class="help-block">{{validationErrors.new_pwd.msg}}</span>
                {{/if}}
            </div>
        </div>
        <div class="form-group
            {{#if validationErrors.old_pwd}}
                has-error
            {{/if}}
        ">
            <label for="old_pwd" class="col-lg-2 control-label">Régi jelszó</label>
            <div class="col-lg-10">
                <input class="form-control" id="old_pwd" name="old_pwd" type="text">
                {{#if validationErrors.old_pwd}}
                    <span class="help-block">{{validationErrors.old_pwd.msg}}</span>
                {{/if}}
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>
